@(userForm:play.data.Form[controllers.forms.UserForm])
<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        @common.head()
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
                <!-- Header -->
            @common.header()
                <!-- Left Side bar -->
            @common.leftSideBar("user")
                <!-- Right Side bar -->
            @common.rightSideBar()




                            <!-- User profile -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box box-solid">
                                    <div class="box-header">
                                        <i class="fa fa-user"></i>
                                        <h3 class="box-title">Profile</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool btn-sm white-collapse"
                                            data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body border-radius-none" style="display: block;">
                                            <!-- FirstName -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group @if(!userForm.errors("firstName").isEmpty()) { has-error}">
                                                    <label for="firstName" class="col-sm-2 control-label">FirstName</label>
                                                    <div class="col-sm-10">
                                                        <input id="firstName" type="text" class="form-control rounded" name="firstName" value="@if(userForm.value().get().firstName != null) {@userForm.value().get().firstName}"/>

                                                        @if(!userForm.errors("firstName").isEmpty()) {
                                                            <ul>
                                                            @for(error <- userForm.errors("firstName")) {
                                                                <li class="help-block">@error.message</li>
                                                            }
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <!-- LastName -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group @if(!userForm.errors("lastName").isEmpty()) { has-error}">
                                                    <label for="lastName" class="col-sm-2 control-label">LastName</label>
                                                    <div class="col-sm-10">
                                                        <input id="lastName" type="text" class="form-control rounded" name="lastName" value="@if(userForm.value().get().lastName != null) {@userForm.value().get().lastName}"/>
                                                        @if(!userForm.errors("lastName").isEmpty()) {
                                                            <ul>
                                                            @for(error <- userForm.errors("lastName")) {
                                                                <li class="help-block">@error.message</li>
                                                            }
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- LastName -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group @if(!userForm.errors("middleName").isEmpty()) { has-error}">
                                                    <label for="lastName" class="col-sm-2 control-label">LastName</label>
                                                    <div class="col-sm-10">
                                                        <input id="middleName" type="text" class="form-control rounded" name="lastName" value="@if(userForm.value().get().lastName != null) {@userForm.value().get().lastName}"/>
                                                        @if(!userForm.errors("middleName").isEmpty()) {
                                                            <ul>
                                                            @for(error <- userForm.errors("middleName")) {
                                                                <li class="help-block">@error.message</li>
                                                            }
                                                            </ul>
                                                        }
                                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <!-- Buttons -->
                        <div class="row">
                            <div class="col-sm-12" >
                                <button id="fix-workingHour" type="submit" class="btn btn-primary pull-right">FIX</button>
                            </div>
                        </div>
                    </form>

                </section>
            </div>

                <!-- Footer -->
            @common.footer()
        </div>

            <!-- Include scripts -->
        @common.script()

    </body>
</html>

